<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/subscriptionprocess/list">Procesos</a>
  </li>
  <li class="breadcrumb-item active">Mis Procesos</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <div class="d-inline text-primary">
      <i class="fas fa-spinner"></i>
      <span><b>Mis Procesos</b></span>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="">Suscripcion - UUID</th>
            <th class="">Suscripcion</th>
            <th class="">PID</th>
            <th class="">Estado</th>
            <th class="">Fecha</th>
            <th class="">Administrador</th>
            <th class=" text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
        <% if (typeof subscriptionProcesses != 'undefined') { %>
        	<% subscriptionProcesses.forEach(function({
                                              pid, status, createdAt,
                                              Subscription: { uuid, name , User: { firstName, lastName }}
                                            }){ %>
  				<tr
            <% if (status == 'new') { %>
                  class="row-color-new"
            <% } %>
            <% if (status == 'running') { %>
                  class="row-color-running"
            <% } %>
            <% if (status == 'stopped') { %>
                  class="row-color-stopped"
            <% } %>
          >
            <td class=""><%= uuid %></td>
            <td class=""><%= name %></td>
            <td class=""><%= pid %></td>
            <td class=""> 
              <% if (status == 'new') { %>
                    Sin Items
              <% } %>
              <% if (status == 'running') { %>
                    En Ejecución
              <% } %>
              <% if (status == 'stopped') { %>
                    Parado
              <% } %>
            </td>
            <td class=""><%=  `${createdAt.getDate()}/${createdAt.getMonth()+1}/${createdAt.getFullYear()} ${createdAt.getHours()}:${createdAt.getMinutes()}:${createdAt.getSeconds()}` %></td>
            <td class=""><%= firstName %> <%= lastName %></td>
            <td class="">
              <div class="text-center">

                <div class="d-inline ml-1">
                  <a href="<%= `/subscriptionprocess/${uuid}/start` %>">
                    <i class="fas fa-play"></i>
                  </a>
                </div>

                <div class="d-inline ml-1">
                  <a href="<%= `/subscriptionprocess/${uuid}/stop` %>">
                    <i class="fas fa-stop-circle"></i>
                  </a>
                </div>

                <div class="d-inline ml-1">
                  <a href="<%= `/subscriptionprocess/${uuid}/restart` %>">
                    <i class="fas fa-redo-alt"></i>
                  </a>
                </div>

                <div class="d-inline ml-1">
                  <a href="<%= `/subscriptionprocess/${uuid}/history` %>">
                    <i class="fas fa-notes-medical"></i>
                  </a>
                </div>

  						</div>
  					</td>
  				</tr>
        	<% }) %>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include ../partials/footer %>

<script type='text/javascript'>
</script>