<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/subscription/list">Suscripciones Items</a>
  </li>
  <li class="breadcrumb-item active">Resumen</li>
</ol>

<div class="card mb-3">
  <div class="card-header text-primary">
    <b>Configuración de los Items</b>
  </div>
  <div class="card-body">
    <form>
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="">Nodo</th>
              <!-- <th class="">Parent Name</th> -->
              <th class="">Nodo Id</th>
              <th class="">Resultado</th>
            </tr>
          </thead>
          <tbody>
          <% if (typeof itemsSelected != 'undefined') { %>
            <% for (i = 0; i < itemsSelected.length; i++) {  %>
            <tr>
              <td class=""><%= itemsSelected[i].text %></td>
              <!-- <td class=""><%= itemsSelected[i].parentName %></td> -->
              <td class=""><%= itemsSelected[i].id %></td>
              <td class=""><%= itemsSelected[i].message %></td>
            </tr>
            <% } %>
          <% } %>
          </tbody>
        </table>
      </div>
      <a 
        href="<%= `/subscriptionprocess/${uuid}/restart` %>"
        class="btn btn-success mt-2 px-4 a-loading"
        role="button">
        Iniciar Proceso
      </a>
    </form>
  </div>
</div>

<% include ../partials/footer %>