<% include ../../partials/header %>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a  href="/subscription/list">Suscripciones</a>
    </li>
    <li class="breadcrumb-item active">Agregar Items</li>
  </ol>

  <%if(typeof subscription != 'undefined'){%>
    <div class="card mb-3">
      <div class="card-header">

        <div class="row">
          <div class="col-4">
             <span class="text-primary"> UUID: </span> <span> <%=subscription.uuid%> </span>
          </div>
          <div class="col-4">
              <span class="text-primary"> Suscripción: </span> 
              <span>
                <%if(typeof subscription.Device != 'undefined'){%> 
                  <%= subscription.Device.name + "__" + subscription.name%>
                <%}else{%>
                  <%=subscription.name%>
                <%}%>
              </span>
          </div>
          <div class="col-4">
             <span class="text-primary"> Administrador: </span>  
             <span> 
                <%if(typeof subscription.User != 'undefined'){%> 
                    <%= subscription.User.firstName %> <%= subscription.User.lastName %>
                <%}%>
              </span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
             <span class="text-primary"> Dispositivo: </span> 
             <span> 
              <%if(typeof subscription.Device != 'undefined'){%> 
                <%= subscription.Device.name %>
              <%}%>
             </span>
          </div>
          <div class="col-4">
             <span class="text-primary"> Base de Datos: </span>
             <span>
                <%if(typeof subscription.DataStore != 'undefined'){%> 
                  <%= subscription.DataStore.name %>
                <%}%>
             </span>
          </div>
        </div>

      </div>

      <div class="row m-2">

        <div class="col-4">
          <form id="add" action="<%= `/subscription/${subscription.uuid}/items/save` %>" method="POST">
            <input id="uuid" type="text" name="uuid" value="<%=subscription.uuid%>" hidden>
            <input id="itemsSelected" type="text" name="itemsSelected" hidden>
            <div class="form-row address-space-container">
              <div id="data" class="mt-1 demo"></div>
            </div>
          </form>
        </div>

        <div class="col-8">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable-suscription" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="">Nombre</th>
                  <th class="">Identificador</th>
                  <th class="">Acciones</th>
                </tr>
              </thead>
              <tbody>
              <% if ( (typeof subscription != 'undefined') && (typeof subscription.SubscriptionItems != 'undefined') ) { %>
                <%  subscription.SubscriptionItems.forEach(function({ name, identifier }){ %>
                <tr>
                  <td class=""><%= name %></td>
                  <td class=""><%= identifier %></td>
                  <td class="">
                    <div class="text-center">

                      <div class="d-inline ml-1">
                        <a href="<%= `/subscription/show/${name}` %>">
                          <i class="far fa-eye"></i>
                        </a>
                      </div>

                      <div class="d-inline ml-1">
                        <a href="<%= `/subscription/update/${name}` %>">
                          <i class="far fa-edit"></i>
                        </a>
                      </div>
                      
                      <div class="d-inline ml-1">
                        <a class="delete-device" data-id="<%= name %>" data-name="<%= name %>" data-toggle="modal" data-target="#deleteDevice" href="#">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>

                    </div>
                  </td>
                </tr>
                <% }) %>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="row m-2">
        <button class="btn btn-primary mt-2 mr-2" form="add">Guardar</button>
        <a href="/subscription/list" class="btn btn-danger mt-2 px-4" role="button">Salir</a>
      </div>

    </div>
   <%}%>

<% include ../../partials/footer %>

  

<% if ((typeof addressSpace != 'undefined')) { %>
  <script>
    // inline data demo
    $('#data').jstree({
      'core' : {
        'data' : [<%- JSON.stringify(addressSpace) %>]
      },
      'types': {
          // "root": {
          //   "icon" : "glyphicon glyphicon-plus"
          // },
          "child": {
            "icon" : "fab fa-envira"
          },
          "default" : {
          }
       },
      'checkbox' : {
          'keep_selected_style' : false,
          // 'cascade_to_hidden': true,
          'cascade_to_disabled': true,
      },
      'plugins' : [ "wholerow", "checkbox", "types" ]
    })


    $("#add").on('submit', function () {
      //const itemsSelected = JSON.stringify($('#data').jstree(true).get_selected())
      const itemsSelected = $('#data').jstree().get_selected(true)
      const originalItems = itemsSelected.map(itemSelected => itemSelected.original)
      const filteredItems = originalItems.filter(itemSelected => (itemSelected.state.disabled == false && itemSelected.type == "child"))
      $('#itemsSelected').val(JSON.stringify(filteredItems))
    })

  </script>
<% } %>