<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dispositivo</a>
  </li>
  <li class="breadcrumb-item active">Mis Dispositivo</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header row">
  	<div class="col-6">
  		<i class="fas fa-table"></i>
  		<span>Mis Dispositivo</span>
  	</div>
  	<div class="col-6 text-right">
  		<a href="/device/create">
  			<i class="fas fa-plus fa-lg"></i>
  		</a>
  	</div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="">Name</th>
            <th class="">URL</th>
            <th class="">Description</th>
            <th class="">Fecha Alta</th>
            <th class="">Administrador</th>
            <th class=" text-center">Acciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="">Name</th>
            <th class="">URL</th>
            <th class="">Description</th>
            <th class="">Fecha Alta</th>
            <th class="">Administrador</th>
            <th class=" text-center">Acciones</th>
          </tr>
        </tfoot>
        <tbody>
        <% if (typeof devices != 'undefined') { %>
        	<% devices.forEach(function({name, endpointUrl, description, createdAt, User:{firstName, lastName}}){ %>
				<tr>
					<td class=""><%= name %></td>
          <td class=""><%= endpointUrl %></td>
					<td class=""><%= description %></td>
          <td class=""><%=  `${createdAt.getDate()}/${createdAt.getMonth()+1}/${createdAt.getFullYear()}` %></td>
					<td class=""><%= firstName %> <%= lastName %></td>
					<td class="">
						<div class="text-center">
							<a class="col-3" href="">
								<i class="far fa-eye"></i>
							</a>
							<a class="col-3" href="">
								<i class="fas fa-plug"></i>
							</a>
							<a class="col-3" href=""><i class="far fa-edit"></i>
							</a>
							<a class="col-3" href="">
								<i class="far fa-trash-alt"></i>
							</a>
						</div>
					</td>
				</tr>
        	<% }) %>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include ../partials/footer %>