<% include ../partials/header %>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a  href="/subscription/list">Suscripciones</a>
    </li>
    <li class="breadcrumb-item active">Actualizar</li>
  </ol>

  <%if(typeof subscription != 'undefined'){%>
    <div class="card mb-3">
      <div class="card-header">
        <div class="d-inline">
           <span class="text-primary"> UUID: </span> <span> <%=subscription.uuid%> </span>
        </div>
        <div class="d-inline ml-2">
           <span class="text-primary"> Nombre: </span>  <span> <%=subscription.name%> </span>
        </div>
      </div>
      <div class="card-body">
        <form action="/subscription/update" method="POST">
          <input type="number" name="id" value="<%=subscription.id%>" hidden>
          
          <div class="form-row">
            <div class="form-group col-md-12">
            <label for="description"><b>Descripción</b></label>
              <input type="text" class="form-control"  id="description" name="description"
              value="<%=subscription.description%>">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="collectionType"><b>Modos de Muestreo</b></label>
              <select class="form-control" id="collectionType" name="collectionType" required>
                <option value="">Seleccione un Modo de Muestreo de Datos</option>
                <% collectionTypes.forEach(({id, description, hint}) => { %>
                <option value="<%=id%>" data-hint="<%=hint%>"
                  <%if(typeof subscription.CollectionType != 'undefined' && subscription.CollectionType.id == id){%> selected <%}%>>
                  <%=description%>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="collectionRate"><b>Frecuencia de Muestreo</b></label>
              <div class="input-group mb-2">
                <input  type="text" class="form-control" id="collectionRate" name="collectionRate" placeholder="Frecuencia de Muestreo" required
                value="<%=subscription.collectionRate%>">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="available"><b>Habilitada</b></label>
              <select class="form-control" id="available" name="available" required>
                <option value="1" <%if(subscription.available == "1"){%> selected <%}%>>Si</option>
                <option value="0" <%if(subscription.available == "0"){%> selected <%}%>>No</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
   <%}%>

<% include ../partials/footer %>

<script type="text/javascript">

  const setHint = () => {
    let selected_collectionType = $("#collectionType").find(":selected");
    if (selected_collectionType.val() >= 1) {
      $('#collectionRate').attr('placeholder','Frecuencia de Muestreo ' + selected_collectionType.data('hint'));
    } else {
      $('#collectionRate').attr('placeholder','Frecuencia de Muestreo');
    }
  }
  
  // collectionTypeRate hint setup
  $("#collectionType").on('change', function () {
    setHint()
  });

  setHint()

</script>