<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/users/list">Usuarios</a>
  </li>
  <li class="breadcrumb-item active">Lista de Usuarios</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <div class="d-inline text-primary">
      <i class="fas fa-table"></i>
      <span><b>Lista de Usuarios</b></span>
    </div>
  	<div class="d-inline" style="position: relative; float: right;">
  		<a href="/user/create">
  			<i class="fas fa-plus fa-lg"></i>
  		</a>
  	</div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="">Email</th>
            <th class="">Nombres</th>
            <th class="">Apellidos</th>
            <th class="">Fecha Alta</th>
            <th class=" text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
        <% if (typeof users != 'undefined') { %>
        	<% users.forEach(function({id, firstName, lastName, email, createdAt}){ %>
  		<tr>
            <td class=""><%= email %></td>
            <td class=""><%= firstName %></td>
            <td class=""><%= lastName %></td>
            <td class=""><%=  `${createdAt.getDate()}/${createdAt.getMonth()+1}/${createdAt.getFullYear()}` %></td>
            <td class="">
              <div class="text-center">

                <div class="d-inline ml-1">
                  <a href="<%= `/user/update/${id}` %>">
                    <i class="far fa-edit"></i>
                  </a>
                </div>
                
                <div class="d-inline ml-1">
                  <a class="delete-device" data-id="<%= id %>" data-name="<%= firstName %>" data-toggle="modal" data-target="#deleteDevice" href="#">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
  						</div>
  			</td>
  		</tr>
        	<% }) %>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Delete Device Modal-->
<div class="modal fade" id="deleteDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="deleteForm" action="/user/delete" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Desea Eliminar el Usuario seleccionado?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Si continua eliminara "<b><span id="baseDatosBorrarNombre"></span></b>" de su lista de Usuarios
          </p>
          <input type="text" name="deleteId" id="deleteId" value="" hidden/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-danger text-white" onclick="deleteDataBase()">Eliminar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<% include ../partials/footer %>

<script type='text/javascript'>
  $(document).on('click', '.delete-device', function () {
    const name = $(this).data('name')
    const id = $(this).data('id')
    $('.modal-body #baseDatosBorrarNombre').html(name)
    $('.modal-body #deleteId').val(id)
  })

  function deleteDataBase() {
    $('#deleteForm').submit()
  }
</script>